
body {
  background: linear-gradient(to bottom, #33cccc 0%, #ccff99 100%);
  background-repeat: no-repeat;
  /*background-size: 100% 100%;*/
  background-attachment: fixed;
}
/* a:hover {
  display: block;
} */
.table {
  background-color: #e2e2e2;
  border: 3px solid red;
}
.container {
  position: relative;
  width: 50%;
}
.des {
  background-color: wheat;
  border: 3px solid red;
  padding: 10px 32px;
  text-align: center;
}

.image {
  opacity: 1;
  display: block;
  width: 50%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
  padding: 10px 32px;
}

.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

h1{
  font-family: Garamond, serif;
  font-weight: bold;
  font-size: 300%;
}
